<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <style>
        body{text-align:center}
        a{
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <h1>{{diary.title}}</h1>
    <div>
        장소 : {{diary.location}}
        <br>
        날짜 : {{diary.pub_date}}
    </div>
    <hr>
    <p>{{diary.body}}</p>
    <br>
    <button><a href="{% url 'home'%}">홈으로</a></button>
</body>
</html>