{% extends 'base.html' %}

{% block content %} 
    <header>
        <h1>MY DIARY</h1>
        {% if user.is_authenticated %}
            <div>
                <p>안녕하세요, {{ user.username }} 님! </p>
                <button><a href = "{% url 'logout' %}">로그아웃</a></button>
            </div>
        <!--로그아웃 상태-->
        {% else %}
            <div>
                <button><a href = "{% url 'login' %}">로그인</a></button>
                <button><a href = "{% url 'signup' %}">회원가입</a></button>
            </div>
        {% endif %}
    </header>
    <hr>
    총 게시물 수 : {{diary_count}}
    <hr>
    <div>
    <table class = "centertable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Location</th>
                <th>Date</th>
                <th>Writer</th>
            </tr>
        </thead>
        <tbody>
            {% for diary in diaries %}
            <tr>
                <td><a href = "{% url 'detail' diary.id %}">{{diary.title}}</a></td>
                <td><a href = "{% url 'detail' diary.id %}">{{diary.location}}</a></td>
                <td><a href = "{% url 'detail' diary.id %}">{{diary.pub_date}}</a></td>
                <td>{{diary.writer.username}}</a></td>
            </tr>
            {% endfor %}    
        </tbody>
    </table>
    </div>
    <br>
    {% if user.is_authenticated %}
    <button><a href = "{% url 'create' %}">새 글 작성</a></button>
    <!--<button onclick = location.href="{%url 'new'%}"></button>-->
    {% endif %}
{% endblock %}